.results {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 350px;
}

.results > p {
    margin-left: 25px;
    color:grey;
    max-height: 550px;
    margin-top: 10px;
}

.results__container {
    display: flex;
    flex-direction: column;
    width: 99%;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 4px;
    overflow-y: auto;
}

.MuiTableCell-head {
    font-weight: 800 !important;
    background-color: grey;
}

.MuiTableCell-stickyHeader {
    background-color: gray !important;
}

.MuiTableRow-root:hover {
    background-color: rgb(219, 218, 218);
    cursor: pointer;
}

.MuiTableRow-head:hover {
    background-color: white;
    cursor: default;
}