.searchModule {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.MuiFormControl-root {
    margin: 15px !important;
}

.searchModule__form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.form__elementsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form__column > input {
    height: 26px;
    border: 0px ;
    border-radius: 2px;
}

.form__searchButton {
    opacity: 0.8;
}

.form__searchButton:hover {
    opacity: 1.5;
    transition: transform 100ms;
    transform: scale(1.3);
}
