.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #353136, #1e1c1f);
    color: white;
}

.app__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
    padding: 15px;
    background-color:#ffffff;
    height: 90vh;
    width: 90vw;
    -webkit-box-shadow: 0 8px 24px 13px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 8px 24px 13px rgba(0,0,0,0.6);
    box-shadow: 0 8px 24px 13px rgba(0,0,0,0.6);
}

.xmlDisplay__container {
    display: flex;
    justify-content: space-evenly;
    height: max-content;
}

.loading__animation {
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}